---
import {defineQuery} from 'groq'
import Welcome from '../components/Welcome.astro'
import Layout from '../layouts/Layout.astro'
import {sanityFetch} from '../sanity/fetch'

export const prerender = false

const url = new URL(Astro.request.url)

const DEMO_QUERY = defineQuery(`*[_type == "demo" && slug.current == $slug][0].title`)
const slug = 'astro'
const lastLiveEventId = url.searchParams.get('lastLiveEventId')
const {data} = await sanityFetch({query: DEMO_QUERY, params: {slug}, lastLiveEventId})
---

<Layout>
  <h1
    class="text-balance text-4xl font-bold leading-tight tracking-tighter md:text-6xl lg:pr-8 lg:text-8xl"
  >
    {data || 'Astro'}
  </h1>
</Layout>
